@layout TelerikLayout
@inherits LayoutComponentBase

@attribute [Authorize]

@inject IAccountService AccountService
@inject NavigationManager NavigationManager

@if (LoggedIn)
{
    <div class="sidebar">
        <NavMenu />
    </div>
}


<div class="app-container @(LoggedIn ? "bg-light" : "")">
    <Alert />
    @Body
</div>

@code {
    public bool LoggedIn
    {
        get { return AccountService.user != null; }
    }
}