<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">CSUB WorkFlow Project</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Directory/search">
                <span class="oi oi-list-person" aria-hidden="true"></span> Search
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Request/Maintenance">
                <span class="oi oi-list-person" aria-hidden="true"></span> Requests
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="account/logout">
                <span class="oi oi-list-person" aria-hidden="true"></span> Logout
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;
    private bool expandSubNav;

    string NavMenuCssClass => (collapseNavMenu ? " collapse" : "");

    void ToggleNavMenu()
    {
        if (!expandSubNav)
        {
            collapseNavMenu = !collapseNavMenu;
        }
    }
}
